# vim: set filetype=dosini:

[ default ]
HOME                    = .
extensions              = x509_${profile}

[ req ]
prompt                  = no
utf8                    = yes
string_mask             = utf8only
distinguished_name      = subject
attributes              = attributes
req_extensions          = req_${profile}
x509_extensions         = x509_${profile}

[ subreq ]
prompt                  = ${req::prompt}
utf8                    = ${req::utf8}
string_mask             = ${req::string_mask}
distinguished_name      = ${req::distinguished_name}

[ x509_ca ]
basicConstraints        = critical, CA:TRUE
keyUsage                = critical, keyCertSign, cRLSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer

[ x509_intermediate ]
basicConstraints        = critical, CA:TRUE, pathlen:0
keyUsage                = critical, keyCertSign, cRLSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always, issuer

[ x509_server ]
subjectAltName          = @san
basicConstraints        = critical, CA:FALSE
keyUsage                = critical, keyEncipherment, digitalSignature
extendedKeyUsage        = serverAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid, issuer

[ x509_client ]
basicConstraints        = critical, CA:FALSE
keyUsage                = critical, keyEncipherment, digitalSignature
extendedKeyUsage        = clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid, issuer

[ x509_smime ]
subjectAltName          = @san
basicConstraints        = critical, CA:FALSE
keyUsage                = critical, nonRepudiation, keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage        = emailProtection
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid, issuer

[ req_ca ]
basicConstraints        = ${x509_ca::basicConstraints}
keyUsage                = ${x509_ca::keyUsage}
subjectKeyIdentifier    = ${x509_ca::subjectKeyIdentifier}

[ req_intermediate ]
basicConstraints        = ${x509_intermediate::basicConstraints}
keyUsage                = ${x509_intermediate::keyUsage}
subjectKeyIdentifier    = ${x509_intermediate::subjectKeyIdentifier}

[ req_server ]
subjectAltName          = ${x509_server::subjectAltName}
basicConstraints        = ${x509_server::basicConstraints}
keyUsage                = ${x509_server::keyUsage}
extendedKeyUsage        = ${x509_server::extendedKeyUsage}
subjectKeyIdentifier    = ${x509_server::subjectKeyIdentifier}

[ req_client ]
basicConstraints        = ${x509_client::basicConstraints}
keyUsage                = ${x509_client::keyUsage}
extendedKeyUsage        = ${x509_client::extendedKeyUsage}
subjectKeyIdentifier    = ${x509_client::subjectKeyIdentifier}

[ req_smime ]
subjectAltName          = ${x509_smime::subjectAltName}
basicConstraints        = ${x509_smime::basicConstraints}
keyUsage                = ${x509_smime::keyUsage}
extendedKeyUsage        = ${x509_smime::extendedKeyUsage}
subjectKeyIdentifier    = ${x509_smime::subjectKeyIdentifier}
